@font-face {
    font-family: "d-din";
    src: url(fonts/d-din/d-din-webfont.woff) format(woff);
}

::-moz-selection {
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "d-din";
    color: #fff;
}

.background {
    display: block;
    width: 100%;
    position: absolute;
    height: 100%;
    background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Starlink_G7_15_SW_Hill_Horiz_0538_Desktop_17c5faabea.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
}

.navbar a {
    font-weight: 700;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;
}

.rightnav {
    margin-top: 35px;
}

.hamburgerBtn {
    position: relative;
    top: 5px;
    height: 20px;
}

.logo {
    width: 200px;
    position: relative;
    top: 15px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 90%;
}

.firstContent {
    padding-left: 315px;
    padding-top: 440px;
}

.firstContent h2 {
    font-weight: normal;
    font-size: 22px;
}

.firstContent h1 {
    font-size: 52px;
    font-weight: 700;
    padding-top: 5px;
}

.btn {
    cursor: pointer;
    width: 170px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    font-weight: 700;

    transition: .2s;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}